.home-section {
  margin-bottom: 40px;
}
.home-section .row {
  margin: 0;
}

.home-section .col {
  width: 240px;
  padding: 0;
}

.home-section .col.large {
  height: 240px !important;
  width: 170px;
  padding: 0;
}

.video-section {
  margin: 0 -15px;
  height: 100%;
}

.video-section .video,
.video-section video {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

a.nav-link,
.home-section ul.list-group li {
  background: white;
  border-radius: 3px;
  border: none;
  margin: 4px;
}

.home-section a.active.nav-link,
.home-section ul.list-group li.active {
  background: #fd185b;
  color: white;
  border-color: #fd185b;
}

.home-section ul.list-group li {
  cursor: pointer;
  display: block;
}

.home-section ul {
  display: block;
  margin: 10px 0;
}

.home-section li {
  display: inline-block;
}

.nav.nav-tabs {
  border: none;
  text-align: center;
}

h1.title {
  color: white;
  font-size: 30px;
}
