.home-section {
  margin-bottom: 40px;
}
.home-section .row {
  margin: 0;
}

.home-section .col {
  width: 240px;
  padding: 0;
}

.video-section {
  margin: 0 -15px;
  height: 100%;
}

.video-section video {
  width: 100%;
  height: 100%;
  display: block;
}
